* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home-img02.jpg) center top;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}

.logo {
  color: #fff;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1.6rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.menu-btn__burger { /* middel bar */
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
  /* We are going to creat two otehr bars*/
  /* We are going to use < pseudo elments > */
  /* top bar */
  /* bottom bar */
  /* We are going to assign it an open class */
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
  /* We are going to targeting our top bar */
  /* We are going to targeting our bottom bar */
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: visible;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #272727;
  transform: translateY(-100%); /*This means the position of the menu is going to satrt off the page the top*/
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
  list-style-type: none;
}
.nav .menu-nav.open {
  transform: translate(0); /* after click goes to initial position */
}
.nav .menu-nav__link {
  font-size: 1.4rem;
  line-height: 3;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.nav .menu-nav__link:hover {
  color: #ff652f;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home-img02.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about p {
  margin-bottom: 1.5rem;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}
.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.4rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-5rem, -4rem);
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/home-img02.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  opacity: 0;
  -moz-column-rule: #000;
       column-rule: #000;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
.projects__btn:hover {
  color: #fff;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
}
.projects footer {
  transform: rotate(90deg) translate(-5rem, -4rem);
}

body {
  background: #272727;
  color: #fff;
  /* view as a precentage, so basically, it's 100% of available viewport */
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

/* about me section */
.text-secondary {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
  /*We have to use this code < @include transition-ease;> in our other partials  */
}
main .social-icons a:hover {
  color: #ff652f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: center;
  color: #fff;
}/*# sourceMappingURL=main.css.map */